name: update addresses
on:
  workflow_dispatch: # Keep this so you can test it manually first!
  schedule:
    - cron: '0 0 1 * *' # Runs at 00:00 on the 1st day of every month

jobs:
  scrape-addresses:
    strategy:
      matrix:
        # Define 5 chunks of 200k each
        chunk: [0, 200000, 400000, 600000, 800000]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Dependencies
        run: pip install pandas geopandas aiohttp huggingface_hub pyogrio
      - name: Run Scraper for Chunk
        env:
          # ONEMAP_TOKEN: ${{ secrets.ONEMAP_TOKEN }}
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # Calculate the end of the range
          START=${{ matrix.chunk }}
          END=$((START + 199999))
          python scripts/get_addresses.py $START $END